body {
    margin: 0;
    background: #eee;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.list-blog {
    padding: 40px 0 45px;
    border-bottom: 1px solid #ddd;
}

.list-blog:last-child {
    border-bottom: none;
}

.list-blog-title {
    font-size: 1.6em;
    font-weight: 500;
    /* transition: color .2s ease-in-out; */
}

.list-blog-title:hover {
    color: #000;
}

.blog-title {
    font-size: 1.8em;
    font-weight: 500;
    color: #000;
}

.list-blog-content h1, .list-blog-content h2, .list-blog-content h3, .list-blog-content h4, .list-blog-content h5, .list-blog-content h6 {
    font-size: 1.2em;
}

.list-blog-content {
    color: #666;
    padding: 15px 0 20px;
    line-height: 1.8em;
}

.blog-content {
    padding: 25px 0 30px;
    color: #333;
    line-height: 1.8em;
}

.blog-content img {
    max-width: 100%;
}

.blog-content blockquote {
    border-color: #d7e0df;
    background: none repeat scroll 0 0 rgba(102, 153, 151, 0.05);
    padding: 10px 15px;
    border-left-style: solid;
    border-left-width: 10px;
    margin: 0 0 20px;
}

.blog-content pre {
    font-size: .87em;
    padding: 10px 15px;
    background: none repeat scroll 0 0 rgba(102, 153, 151, 0.05);
    display: block;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.blog-content code {
    background-color: #d7dfe0;
    border-radius: 4px;
    color: #2b4b4f;
    padding: 2px 4px;
    white-space: nowrap;
}

.blog-content pre>code {
    background: transparent;
    padding: 0;
    white-space: inherit;
}

.blog-content pre.prettyprint code {
    background: transparent;
    white-space: pre;
}

.list-blog-time, .blog-time {
    color: #0aa69e;
    font-size: .85em;
}

.blog-tag, .list-blog-tag {
    background: rgba(0, 0, 0, 0.016);
    display: inline-block;
    padding: 7px 14px;
    line-height: 16px;
    border-radius: 15px;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}

.blog-tag:hover, .list-blog-tag:hover {
    color: #eee;
    background: rgba(10, 166, 158, .57);
    /* background: rgba(0, 0, 0, .1); */
}

.list-blog-abstract {
    display: inline;
}

.list-blog-readmore {
    display: inline-block;
}

.cyan-link, .blog-content a {
    color: #0aa69e;
    transition: color .2s ease-in-out;
}

.cyan-link:hover, .blog-content a:hover {
    color: rgba(10, 166, 158, .57);
}

.blog-container {
    padding: 40px 0 45px;
    /* border-bottom: 1px solid #ddd; */
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    padding: 50px 0;
    color: #ccc;
    background-color: #111;
}

.header-title {
    color: #ccc;
    font-size: 3em;
}

.header-intro {
    font-size: 1.5em;
}

.footer {
    text-align: center;
    font-size: .9em;
    color: #666;
    padding: 120px 0 40px;
    text-shadow: 1px 1px 0px #fff;
}

.load-more {
    text-align: center;
    font-size: .9em;
    color: #999;
    margin: 20px 0;
}

.tag-info {
    padding: 15px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.667);
}

.tag-title {
    font-size: 1.8em;
}

.tag-count {
    font-size: .8em;
    color: #666;
}

.tag-description {
    margin: 10px 0;
    font-size: .85em;
}

.blog-content ul, .blog-content ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.blog-content table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-spacing: 0;
}

.blog-content tbody>tr:nth-child(2n+1)>td, .blog-content tbody>tr:nth-child(2n+1)>th {
    background-color: rgba(102, 147, 153, 0.05);
}

.blog-content tr td {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.blog-content td, .blog-content th {
    border-left: 1px solid #ddd;
    /* background-color: rgba(255, 255, 255, 0.05); */
}

.blog-content td:first-child, .blog-content th:first-child {
    border-left: none;
}

.blog-content em {
    color: #999;
}

.comments-title {
    font-size: 1.5em;
    padding: 50px 0 20px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.comment-item {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.comment-item:last-child .comment-body {
    border-bottom: none;
}

.comment-body {
    width: 100%;
    /* padding:0 20px; */
    border-bottom: rgba(0, 0, 0, .05) 1px solid;
    padding-bottom: 30px;
}

.comment-head, .comment-ref-head {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.comment-ref-head .comment-author:before {
    content: '@';
    color: #333;
}

.comment-head-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.comment-head-right {
    flex: none;
}

.comment-author {
    color: #0aa69e;
    margin-right: 10px;
}

.comment-ref-collapse {
    color: #0aa69e;
    padding: 0 5px;
    display: inline-block;
    cursor: pointer;
}

.comment-time, .comment-ref-this {
    font-size: .85em;
    color: #bbb;
    margin-right: 10px;
}

.comment-ref-this {
    cursor: pointer;
    transition: color .2s ease-out;
}

.comment-ref-this:hover {
    color: #333;
}

.comment-content {
    padding: 10px 0;
}

.comment-item-pending .comment-content {
    color: #999;
}

.comment-item-pending .comment-content:before {
    content: '内容将在审核后显示';
    display: block;
    color: #0aa69e;
    background-color: #e4ebeb;
    border-radius: 3px;
    font-size: .85em;
    padding: 10px;
}

.comment-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #999;
    background-size: cover;
    flex: none;
    margin-right: 20px;
    /* background-image: attr(data-background url); */
}

@media all and (max-width: 375px) {
    .comment-avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

.comment-ref {
    padding: 12px 20px;
    background: #ddd;
    font-size: .85em;
    border-radius: 3px;
    margin: 5px 0;
}

.comment-ref-box {
    transition: all .2s ease-in-out;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.comment-editor-body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* .comment-editor-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
} */

.login-button {
    padding: 10px 15px;
    border-radius: 3px;
    /* background: #0aa69e; */
    background-color: #76c1be;
    color: #fff;
    cursor: pointer;
    /* font-size: .8em; */
    transition: background-color .2s ease-out;
    margin: 5px;
}

.login-button:hover {
    /* background: rgba(10, 166, 158, .57); */
    background-color: rgba(10, 166, 158, .5);
}

.exclusive-login-button {
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-out;
    opacity: .3;
    margin: 5px;
    position: relative;
}

.exclusive-login-button:hover {
    opacity: 1;
}

.exclusive-login-button:hover:after {
    word-break: keep-all;
    content: '并在其他设备下线';
    position: absolute;
    display: block;
    top: 110%;
    left: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 3px 6px;
    font-size: .7em;
    width: auto;
}

.logout-button {
    cursor: pointer;
}

.comment-editor {
    background-color: #f4f4f4;
    transition: background-color .3s ease-in-out;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    /* padding: 10px; */
}

.comment-editor-focus {
    background-color: #fdfdfd;
}

@media all and (max-width :600px) {
    .comment-editor {
        flex-direction: column;
    }
}

.comment-editor-content {
    border: none;
    background: transparent;
    resize: none;
    display: block;
    font-size: 1em;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 0;
    color: #333;
    /* padding: 15px; */
}

.comment-editor-content::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

.comment-editor-content:-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.comment-editor-content::-moz-placeholder {
    color: #ccc;
    font-weight: 300;
}

.comment-editor-content:-ms-input-placeholder {
    color: #ccc;
    font-weight: 300;
}

/* .comment-editor-content-wrapper {
    transition: height .2s ease-in-out;
    overflow: hidden;
    width: 100%;
} */

.comment-editor-content-wrapper {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.comment-editor-content:focus {
    outline: none;
}

.comment-submit-button {
    display: flex;
    flex: none;
    padding: 10px 20px;
    background-color: #76c1be;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease-out;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment-submit-button:hover {
    background: rgba(10, 166, 158, .5);
}

.comment-editor-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    flex: none;
}

.comment-editor-username {
    display: none;
}

.comment-editor-user {
    flex: none;
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.comment-ref-cancle {
    color: #666;
    width: 1.25em;
    height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(8px);
    border-radius: 50%;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.comment-ref-cancle:hover {
    background-color: rgba(0, 0, 0, .05);
}

@media all and (max-width:600px) {
    .comment-editor-username {
        display: block;
        font-weight: 500;
        padding-left: 15px;
    }
    .comment-editor-user {
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
    }
    .comment-editor-body {
        flex-direction: column;
    }
    .comment-editor-avatar {
        width: 30px;
        height: 30px;
    }
}

.toast-view-container {
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
}

.toast-box {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    margin-top: 15px;
    opacity: 0;
    flex: none;
    animation: toast-disappear 3s;
}

@keyframes toast-disappear {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}