body {
    margin: 0;
    background: #eee;
    font-size: 16px;
    font-weight: 300;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.list-blog {
    padding: 40px 0 45px;
    border-bottom: 1px solid #ddd;
}

.list-blog:last-child {
    border-bottom: none;
}

.list-blog-title {
    font-size: 1.6em;
    font-weight: 500;
    /* transition: color .2s ease-in-out; */
}

.list-blog-title:hover {
    color: #000;
}

.blog-title {
    font-size: 1.8em;
    font-weight: 500;
    color: #000;
}

.list-blog-content h1, .list-blog-content h2, .list-blog-content h3, .list-blog-content h4, .list-blog-content h5, .list-blog-content h6 {
    font-size: 1.2em;
}

.list-blog-content {
    color: #666;
    padding: 15px 0 20px;
    line-height: 1.8em;
}

.blog-content {
    padding: 25px 0 30px;
    color: #333;
    line-height: 1.8em;
}

.blog-content img {
    max-width: 100%;
}

.blog-content blockquote {
    border-color: #d7e0df;
    background: none repeat scroll 0 0 rgba(102, 153, 151, 0.05);
    padding: 10px 15px;
    border-left-style: solid;
    border-left-width: 10px;
    margin: 0 0 20px;
}

.blog-content pre {
    font-size: .87em;
    padding: 10px 15px;
    background: none repeat scroll 0 0 rgba(102, 153, 151, 0.05);
    display: block;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.blog-content code {
    background-color: #d7dfe0;
    border-radius: 4px;
    color: #2b4b4f;
    padding: 2px 4px;
    white-space: nowrap;
}

.blog-content pre>code {
    background: transparent;
    padding: 0;
    white-space: inherit;
}

.blog-content pre.prettyprint code {
    background: transparent;
    white-space: pre;
}

.list-blog-time, .blog-time {
    color: #0aa69e;
    font-size: .85em;
}

.blog-tag, .list-blog-tag {
    background: rgba(0, 0, 0, 0.016);
    display: inline-block;
    padding: 7px 14px;
    line-height: 16px;
    border-radius: 15px;
    transition: background .2s ease-in-out, color .2s ease-in-out;
}

.blog-tag:hover, .list-blog-tag:hover {
    color: #eee;
    background: rgba(10, 166, 158, .57);
    /* background: rgba(0, 0, 0, .1); */
}

.list-blog-abstract {
    display: inline;
}

.list-blog-readmore {
    display: inline-block;
}

.cyan-link, .blog-content a {
    color: #0aa69e;
    transition: color .2s ease-in-out;
}

.cyan-link:hover, .blog-content a:hover {
    color: rgba(10, 166, 158, .57);
}

.blog-container {
    padding: 40px 0 45px;
    /* border-bottom: 1px solid #ddd; */
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header {
    padding: 50px 0;
    color: #ccc;
    background-color: #111;
}

.header-title {
    color: #ccc;
    font-size: 3em;
}

.header-intro {
    font-size: 1.5em;
}

.footer {
    text-align: center;
    font-size: .9em;
    color: #666;
    padding: 40px 0;
    text-shadow: 1px 1px 0px #fff;
}

.load-more {
    text-align: center;
    font-size: .9em;
    color: #999;
    margin: 20px 0;
}

.tag-info {
    padding: 15px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.667);
}

.tag-title {
    font-size: 1.8em;
}

.tag-count {
    font-size: .8em;
    color: #666;
}

.tag-description {
    margin: 10px 0;
    font-size: .85em;
}

.blog-content ul, .blog-content ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.blog-content table {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-spacing: 0;
}

.blog-content tbody>tr:nth-child(2n+1)>td, .blog-content tbody>tr:nth-child(2n+1)>th {
    background-color: rgba(102, 147, 153, 0.05);
}

.blog-content tr td {
    border-top: 1px solid #ddd;
    padding: 8px;
}

.blog-content td, .blog-content th {
    border-left: 1px solid #ddd;
    /* background-color: rgba(255, 255, 255, 0.05); */
}

.blog-content td:first-child, .blog-content th:first-child {
    border-left: none;
}

.blog-content em {
    color: #999;
}